html {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body {
	background-color: #E6E6E6
}
h3 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
h4 {
	font-size: 14px;
}

.container {
	background-color: #fff;
	margin: auto;
	width: 40%;
	border:3px solid #666;
	border-radius: 10px;
    padding: 10px;
	text-align: center;
}

.messages {
	display: none;
}

.messages .status {
	text-align: center;
	vertical-align: middle;
}

.form-style {
	width: 50%;
	margin: auto;
}

.input-box {
	font-size: 12px;
	padding: 8px;
	border: 1px solid #666;
	border-radius: 8px;
}

.btn-row {
	padding-left: 0px;
}

.btn-row li {
	display: inline;
}

button {
	padding: 8px;
	border-radius: 8px;
	font-size: 12px;
	border: 1px solid #666;
}

.btn-default {
	background-color: cornsilk;
}

.btn-primary {
	background-color: #81BEF7;
	font-weight: 600;
	
}